<header>
  <div id="topheader">
    <div class="container">
      <div class="col-lg-8 col-md-8 col-sm-7">
          <div class="list-inline">
              <a href="tel:+55-4XX-634-7071"><i class="fa fa-phone"></i>+91-08647228964</a>&nbsp&nbsp
              <a href="tel:info@themevessel.com"><i class="fa fa-envelope"></i>csmnrt@gmail.com</a>&nbsp&nbsp
              <a href="tel:info@themevessel.com"><i class="fa fa-clock-o"></i>Mon - Sun: 8:00am - 6:00pm</a>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5">
          <ul class="top-social-media pull-right">
            {%if user.is_authenticated%}
            <a href="#" class="sign-in"><i class="fa fa-sign-in"></i>Dashboard</a>&nbsp&nbsp
            <a href="javascript:{document.getElementById('logout').submit()}" class="sign-out"><i class="fa fa-sign-out"></i> Logout</a>
                  <form action="#" id="logout" method="POST">
                    {% csrf_token %}
                    <input type="hidden">
                  </form>
            {%else%}
                  <a href="#" class="sign-in"><i class="fa fa-sign-in"></i> Login</a>&nbsp&nbsp
                  <a href="#"class="sign-up"><i class="fa fa-user"></i> Register</a>
            {%endif%}
          </ul>
      </div>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container">
    <a class="navbar-brand" href="{%url 'home' %}">csm</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <div class="col-lg col-sm col-md col-6 flex-grow-0">
          <div class="category-wrap dropdown d-inline-block float-right">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bars"></i> All category
            </button>
            <div class="dropdown-menu">
              {%for category in links%}
              <a class="dropdown-item" href="{{category.get_absolute_url}}">{{category.category_name}}</a>
              {%endfor%}
            </div>
          </div>  <!-- category-wrap.// -->
        </div> <!-- col.// -->
        <a class="nav-link" aria-current="page" href="{%url 'store'%}">Store</a>
        <div class="col-lg  col-md-6 col-sm-12 col">
          <form action="{%url 'search' %}" class="search">
            <div class="input-group w-100">
                <input type="text" class="form-control" style="width:60%;" placeholder="Search" name='q'>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
          </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
              <div class="d-flex justify-content-end mb-3 mb-lg-0">
                {%if user.id is None%}
                <div class="widget-header">
                  <small class="title text-muted">Welcome guest!</small>
                  <div>
                    <a href="{%url 'login'%}">Sign in</a> <span class="dark-transp"> | </span>
                    <a href="{%url 'register'%}"> Register</a>
                  </div>
                </div>
                {%else%}
                <div class="widget-header">
                  <small class="title text-muted">Welcome {{user.first_name}}</small>
                  <div>
                    <a href="{%url 'dashboard' %}">Dashboard</a> <span class="dark-transp"> | </span>
                    <a href="{%url 'logout'%}"> logout</a>
                  </div>
                </div>
                {%endif%}
                <a href="{%url 'cart'%}" class="widget-header pl-3 ml-3">
                  <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                  <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
                </a>
              </div> <!-- widgets-wrap.// -->
            </div> <!-- col.// -->
      </ul>

    </div>
  </div>
</nav>
